* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
}

.color-title {
    margin-top: 25px;
    font-size: 30px;
}

.color-btn {
    margin-top: 25px;
    padding: 15px;
    font-weight: bold;
    font-size: 20px;
    background-color: transparent;
    border: 2px solid #000;
    border-radius: 5px;
    outline: none;
}